:root {
    --clorLite: #EEEEEE;
    --clor: #00ADB5;
  }

h1{
    font-size: 30;
color: #e2e0f0;
font-family: 'Bebas Neue', cursive;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #98965b;
}
li{
    padding: 10px;
    list-style-type: none; 
    background-color: blueviolet;
    border: 1px solid   ;
    font-family: 'Julee', cursive;
    font-size: 22px;
}
li :hover{
    color: gold;
}
ul{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #98965b;
 }

 
 /* -------------main------------- */


/* Form */
main section form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main section form fieldset {
    border: 20px solid #5b809861;
    padding: 50px;
    margin-bottom: 38px;
    width: 100%;
    max-width: 431px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px var(--clor);
}

main section form fieldset legend {
    background-color: var(--clorLite);

}

main section form fieldset div {
    padding: 15px;
    border: 1px solid var(--clorLite);
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px var(--clor);


}

main section form fieldset div input {
    border: 5px solid var(--clorLite);

}

main section form fieldset div select#department {
    border: 5px solid var(--clorLite);

}

main section form fieldset div select#level {
    border: 5px solid var(--clorLite);

}
main section form fieldset input[type="submit"] {
    padding: 15px;
    border: 1px solid var(--clorLite);
    background-color: var(--clorLite);
    width: 50%;
    margin-bottom: 15px;
    
    
}
main section form fieldset input[type="submit"]:hover {
    color: #999;
    box-shadow: 2px 2px 5px var(--clor);

}

/* employee card */


main section dev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

main section dev P {
    width: 100%;
    margin-bottom: 18px;
    border: groove;
    box-shadow: 2px 2px 5px var(--clor);

}

.employee-card {
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    background-color: #16832abd;
    box-shadow: 2px 2px 5px #98965b;
    text-align: center;
}

.employee-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0;
}